.popup-box{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
}

.box{
    position: relative;
    width: 90%;
    min-height: 600px;
    background-color: white;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 10px auto ;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-close{
    color: black;
    background-color: red;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 50%;
    position:fixed;
    right: calc(5% - 13px);
    top: 0
}